@charset "utf-8";
/* CSS Document */

/******************************


[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Logo
	3.2 Main Navigation
	3.3 Hamburger Menu
	3.4 Full Screen Menu
4. Home Social
5. Section Title
6. Home
7. Contact Content
8. Contact Form
9. Google Map
10. Contact Sidebar
	10.1 Sidebar Title
	10.2 Sidebar Contact Info
11. Contact
12. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600|Open+Sans:300,400,600,700,800');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	background: #FFFFFF;
	color: #6e6e6e;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #6e6e6e;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #ff4200;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 48px;}
h2{font-size: 30px;}
h3{font-size: 18px;}
h4{font-size: 14px;}
h5{font-size: 11px;}
h1, h2, h3, h4, h5, h6
{
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.button
{
	width: 187px;
	height: 66px;
	background: #ff4200;
	overflow: hidden;
}
.line_button
{
	border: solid 1px #FFFFFF;
}
.button a
{
	display: block;
	width: 100%;
	color: #FFFFFF;
	font-size: 11px;
	font-weight: 300;
	line-height: 66px;
	text-transform: uppercase;
	letter-spacing: 6.7px;
	
}
.button a img
{
	display: inline-block;
	width: 13px !important;
	height: 7px;
	margin-left: 4px;
}
.button a::after
{
	display: block;
	position: absolute;
	top: -50%;
	left: -70px;
	width: 60px;
	height: 200%;
	background: rgba(255,255,255,0.1);
	content: '';
	-webkit-transform: rotate(12.5deg);
	-moz-transform: rotate(12.5deg);
	-ms-transform: rotate(12.5deg);
	-o-transform: rotate(12.5deg);
	transform: rotate(12.5deg);
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
	z-index: 0;
}
.button a:hover::after
{
	left: calc(100% + 70px);
}
.parallax-window
{
    min-height: 386px;
    background: transparent;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}


/*********************************
4. Home Social
*********************************/

.home_social_container
{
	position: absolute;
	top: 110px;
	right: 0px;
	width: auto;
	height: 74px;
    background: #8BC34A;
	z-index: 11;
	padding-right: 38px;
	padding-left: 45px;
}
.home_social li
{
	display: inline-block;
	margin-left: 10px;
}
.home_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.home_social li i
{
    font-size: 20px;
    color: rgb(255, 255, 255);
}
.home_social li:hover i
{
	color: rgba(255,255,255,1);
}

/*********************************
5. Section Title
*********************************/

.section_title h2
{
	display: inline-block;
	position: relative;
	font-weight: 600;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: #FFFFFF;
	line-height: 1.35;
	margin-bottom: 116px;
}
.section_title h2 span
{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50px);
	-moz-transform: translate(-50%, -50px);
	-ms-transform: translate(-50%, -50px);
	-o-transform: translate(-50%, -50px);
	transform: translate(-50%, -50px);
	font-size: 72px;
	font-weight: 900;
	color: #ff0000;
	opacity: 0.32;
}
.section_title h2::before
{
	display: block;
	position: absolute;
	bottom: 61px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(calc(-50% - 4px));
	width: 2px;
	height: 45px;
	content: '';
	background: #FFFFFF;
}

/*********************************
6. Home
*********************************/

.home
{
	width: 100%;
	height: 386px;
	margin-top: 110px;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.services_page_shapes
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	pointer-events: none;
}
.home_content
{
	margin-top: 154px;
}
.home_content h1
{
	font-weight: 300;
	color: #FFFFFF;
	margin-bottom: 2px;
}
.home_content span
{
    font-size: 15px;
    font-weight: 600;
    color: #FFFFFF;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    padding-left: 3px;
}

/*********************************
7. Contact Content
*********************************/

.contact_content
{
	width: 100%;
	padding-top: 120px;
	padding-bottom: 120px;
	background: #FFFFFF;
}
.contact_main_content
{
	width: 100%;
}
.contact_subtitle
{
	font-size: 16px;
	font-weight: 600;
	color: #1c1c1c;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-bottom: 11px;
	margin-bottom: 59px;
}
.contact_subtitle::after
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 43px;
	height: 2px;
	background: #ff4200;
	content: '';
}

/*********************************
8. Contact Form
*********************************/

.contact_form_container
{
	margin-top: 62px;
}
.input_field
{
	height: 40px;
	font-size: 14px;
	border: solid 1px #b7b7b7;
	padding-left: 17px;
	margin-bottom: 12px;
}
.input_field:focus,
.text_field:focus
{
	border: solid 2px #ff4200 !important;
	box-shadow: none !important;
	outline: none !important;
}
.text_field
{
	font-size: 14px;
	border: solid 1px #b7b7b7;
	padding-left: 17px;
	margin-bottom: 12px;
}
.contact_form_name,
.contact_form_email
{
	display: inline-block;
	width: calc(50% - 15px);
}
.contact_form_name
{
	margin-right: -4px;
}
.contact_form_email
{
	margin-left: 30px;
}
.contact_form_subject
{
	display: block;
	width: 100%;
}
.contact_form_message
{
	display: block;
	width: 100%;
	margin-bottom: 0px;
}
.contact_submit_btn
{
	position: relative;
	width: 153px;
    height: 66px;
    background: #ff4200;
    overflow: hidden;
    border: none;
    font-size: 11px;
    font-weight: 300;
    letter-spacing: 0.6em;
    text-transform: uppercase;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 39px;
}
.contact_submit_btn img
{
    display: inline-block;
    width: 13px !important;
    height: 7px;
    margin-left: 4px;
}
.contact_submit_btn::after
{
    display: block;
    position: absolute;
    top: -50%;
    left: -70px;
    width: 60px;
    height: 200%;
    background: rgba(255,255,255,0.1);
    content: '';
    -webkit-transform: rotate(12.5deg);
    -moz-transform: rotate(12.5deg);
    -ms-transform: rotate(12.5deg);
    -o-transform: rotate(12.5deg);
    transform: rotate(12.5deg);
    -webkit-transition: all 400ms ease;
    -moz-transition: all 400ms ease;
    -ms-transition: all 400ms ease;
    -o-transition: all 400ms ease;
    transition: all 600ms ease;
    z-index: 0;
}
.contact_submit_btn:hover::after
{
	left: calc(100% + 70px);
}
::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: #6e6e6e !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: #6e6e6e !important;
}
::-moz-placeholder /* Firefox 19+ */ 
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: #6e6e6e !important;
} 
:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: #6e6e6e !important;
}
::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic !important;
	color: #6e6e6e !important;
}

/*********************************
9. Google Map
*********************************/

#google_map
{
	width: 100%;
	height: 510px;
	margin-top: 120px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}
	

/*********************************
10. Contact Sidebar
*********************************/

.contact_sidebar
{
	width: 100%;
}
.sidebar_section
{
	margin-bottom: 58px;
}
.sidebar_section:last-child
{
	margin-bottom: 0px;
}

/*********************************
10.1 Sidebar Title
*********************************/

.sidebar_title
{
	font-size: 16px;
	font-weight: 600;
	color: #1c1c1c;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	padding-bottom: 11px;
	margin-bottom: 59px;
}
.sidebar_title::after
{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 43px;
	height: 2px;
	background: #ff4200;
	content: '';
}

/*********************************
10.2 Sidebar Contact Info
*********************************/

.sidebar_contact_info ul
{
	margin-top: -7px;
}
.sidebar_contact_info ul li
{
	position: relative;
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	font-weight: 600;
	color: #b8b8c1;
	line-height: 30px;
	padding-left: 28px;
	margin-bottom: 13px;
}
.sidebar_contact_info ul li:last-child
{
	margin-bottom: 0px;
}
.sidebar_contact_info ul li::before
{
	display: inline-block;
	position: absolute;
	top: 12px;
	left: 0;
	width: 9px;
	height: 9px;
	background: #ff4200;
	content: '';
}

/*********************************
11. Contact
*********************************/

.contact
{
	padding-top: 192px;
	padding-bottom: 120px;
}
.contact_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.contact_shapes
{
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(calc(-50% - 40px));
}
.contact_title h2
{
	margin-bottom: 54px;
}
.contact_text p
{
	color: #FFFFFF;
}
.contact_button
{
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
}

/*********************************
12. Footer
*********************************/

.footer
{
	background: #111111;
}
.footer_content
{
	height: 96px;
}
.footer_social_container
{
	display: inline-block;
}
.footer_social li
{
	display: inline-block;
	margin-left: 6px;
}
.footer_social li:first-child
{
	margin-left: 0px;
}
.footer_social li a
{
	width: 100%;
	height: 100%;
	padding: 10px;
}
.footer_social li i
{
	font-size: 14px;
	color: rgba(110,110,110,0.6);
}
.footer_social li:hover i
{
	color: rgba(255,255,255,1);
}
.cr p
{
	margin-bottom: 0px;
}